<%- include('./partials/header') %>

    <title>Compra finalizada | Social Store</title>
</head>
<body>
<%- include('./partials/navbar') %>

<div class="container-fluid">
    <h1 class="titulo text-center mt-5">
        Compra finalizada com sucesso!!!
    </h1>
    <div class="img-fluid text-center mt-3">
        <img src="./images/concluido.png" alt="imagem compra finalizada">
    </div>
    <p class="texto fs-4 mt-2 text-center">Contate o vendedor pelo nosso chat e para ter acesso ao login e senha da
        compra comprada.<br> Qualquer problema entre em contato conosco.
    </p>
</div>

<%- include('./partials/footer') %>